<% title "Dashboard" %>

<div class="row-fluid">
  <article class="span4">
    <h2>Your Assignments</h2>
    A list of your assignments.
  </article>
  <article class="span4">
    <h2>Staff Announcements</h2>
    A few news items.
  </article>
  <article class="span4">
    <h2>Yearbook Details</h2>
    <%= render 'yearbook_details' %>
  </article>
</div>
