<% content_for :jquery do %>
  $('#deadline-tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })

  $('#deadline-tabs a:first').tab('show');
<% end %>

<% title "Assignments" %>

<h1>Assignments for <%= current_user.full_name %></h1>
