// MIXINS
@mixin rounded-corners($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// COLORS
$one: #336699;
$one-light: #6699cc;
$two: #996633;
$black: #333333;
$dark-gray: #777777;
$medium-gray: #aaaaaa;
$light-gray: #dfdfdf;
$white: #ffffff;


.hide {
  display: none;
}

.inline {
  display: inline;
}

.right {
  float: right;
}

.left {
  float: left;
}
