<div class='left'>
  Logged in as <%= link_to current_user.full_name, edit_user_path(current_user.id) %> |
  <%= link_to "help", static_path(:page => :help) %> |
  <%= link_to "sign out", destroy_user_session_path, :method => :delete  %>
</div>
<div class='right'>
  &copy; Copyright <%= Time.now.year %> Doug Johnston. All Rights Reserved.
</div>
