// CSS For Primary Application
@import '../support/mixins'; 

header {
  padding: 3px 20px;
  background-color: $one;
  color: $white;
  h1 {
    margin: 0;
    font-size: 23px;
  }
  nav#nav-main {
    ul.nav {
      list-style: none;
      margin: 0 0 0 0px;
      li {
        float: left;
        a {
          display: block;
          padding: 0 10px;
          color: $white;
          text-transform: uppercase;
        }
        a:hover {
          background-color: $one-light;
        }
      }
      li.active {
        a {
          text-decoration: underline;
        }
      }
    }
  }
  nav#nav-utility {
    float: right;
  }
}

section#main {
  padding-left: 0;

  #main-content {
    border-left: 1px solid $light-gray;
    padding-left: 10px;
  }

  ul.ladder {
    list-style: none;
    padding: 0;
    margin: 0;

    li.ladder-add-node {
    }

    li.ladder-node {
      @include rounded_corners;
      position: relative;
      float: left;
      width: 180px;
      height: 80px;
      margin: 0 20px 10px 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background-color: #efefef;
      font-size: 12px;

      .ladder-node-color {
        position: absolute;
        top: 0px;
        width: 5px;
        height: 100%;
      }

      .ladder-node-color-left {
        @include left_rounded_corners;
        left: 0px;
      }

      .ladder-node-color-right {
        @include right_rounded_corners;
        right: 0px;
      }

      .ladder-node-page {
        position: absolute;
        top: 0px;
        padding: 4px 10px;
        font-size: 16px;
        font-weight: bold;
        opacity: 0.3;
      }

      .ladder-node-page-left {
        left: 0px;
        text-align: left;
      }

      .ladder-node-page-right {
        right: 0px;
        text-align: right;
      }

      .ladder-node-divider {
        position: absolute;
        top: 0;
        left: 90px;
        width: 1px;
        height: 100%;
        background-color: #ccc;
        background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(204,204,204,0.15) 85%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(85%,rgba(204,204,204,0.15)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(204,204,204,0.15) 85%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(204,204,204,0.15) 85%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(204,204,204,0.15) 85%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(204,204,204,0.15) 85%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      }

      .ladder-node-title {
        position: absolute;
        bottom: 5px;
        width: 100%;
        text-align: center;
        line-height: 1.2em;
      }

      .ladder-node-links {
        font-size: 10px;
      }
    }
  }
}

footer {
  margin: 20px;
  padding: 3px 5px;
  border-top: 1px solid $light-gray;
}

