// CSS For Primary Application
@import '../support/mixins'; 

// COLORS
$primary: #336699;
$secondary: #669933;
$white: #ffffff;
$black: #333333;

header {
  background-color: $primary;
  color: $white;
  h1 {
    margin: 0;
  }
  nav {
    ul {
      list-style: none;
      li {
        float: left;
      }
    }
  }
}


